

/* ===================================
    Agency demo
====================================== 

.service { min-height: 684px}
.service-sub {border: 6px solid transparent; padding: 24px}
.service-sub:hover {border: 6px solid #fdd947; padding: 24px; background: #fff}
.agency-skill {min-height: 500px;}
.work-with-us {padding: 80px 0}

/* ===================================
    Restaurant demo
====================================== 

.restaurant-dishes { width:450px; height: 550px; margin-top: 45px;  }
#menu .container-fluid { left: -7px; position: relative; }
.restaurant-menu {min-height: 740px}
.restaurant-menu:hover .restaurant-menu-image img {opacity: .5}
.restaurant-menu-image { position: absolute;  height: 100%; width: 100%; }
.restaurant-menu-text {border:8px solid #d8b75f; position: absolute; transition: all 400ms ease-out 0s; opacity: 0; z-index: 2;  height: calc(100% - 80px); width: calc(100% - 100px); left: 57px; top: -42px;}
.restaurant-menu:hover .restaurant-menu-text {opacity: 1; top: 42px }
.restaurant-menu-text-inner { height: 100%; overflow-y: auto; }
.menu-item { border-bottom: 1px dotted rgba(0, 0, 0, 0.2); padding: 17px 0 22px 0; float: left; width: 100% }
.menu-item:first-child {padding-top:0 }
.menu-item:last-child {padding-bottom:0; border-bottom: none }
.menu-item img {max-height: 80px}
.menu-text, .menu-img {min-height: 80px; position: relative}
.menu-text-sub { -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 0; position: absolute; top: 50%;}
.menu-item p {line-height: 20px; margin: 0 0 5px 0}
.restaurant-menu-background { height: calc(100% - 46%); width: calc(100% - 46%); left: 23%; top: 23%;  position: absolute; background: rgba(255,255,255,1);}
.restaurant-menu-border {  border: 6px solid rgba(0,0,0,.1); height: calc(100% - 40px); width: calc(100% - 40px); left: 20px; top: 20px;  position: absolute; }
.restaurant-menu-item { position: absolute; width: 100%; padding: 0 15px; top: 50%; text-align: center; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 0; z-index:1 }
.chef-bio:hover .chef-details {opacity: 1; bottom: 50px}
.chef-details {position: absolute; opacity: 0; bottom: -250px; transition: all 400ms ease-out 0s; width: 70%; left: 15%; }
.chef-bio:hover .chef-img img { position: relative; bottom: 20px; opacity: .5; transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transform: scale(1.1,1.1); -webkit-transform: scale(1.1,1.1);  transform: scale(1.1,1.1); -webkit-filter: blur(3px); -moz-filter: blur(3px); -o-filter: blur(3px); -ms-filter: blur(3px); filter: blur(3px);}
.chef-img img {transition: all 400ms ease-out 0s; position: relative; bottom: 0}
.special-dishes-price{height: 90px; line-height: 18px; padding: 25px 0; width: 90px; right: 15px; top: 0}
.special-dishes:hover img { transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transform: scale(1.1,1.1); -webkit-transform: scale(1.1,1.1);  transform: scale(1.1,1.1); }

/* ===================================
    Travel demo
====================================== 

.travel-slider{ min-height: 725px}
.travel-top-slider {padding-top: 100px; padding-bottom: 0px; }
.adventure-details-main { position: relative;}
.adventure-details { right: 0; position: absolute; top: 0; width: 50%; height: 100%; background: rgba(30,33,38,.9)}
.adventure-details-sub { -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); right: 0; position: absolute; top: 50%; width: 100%;}
.adventure-details-main:hover .adventure-details { margin-right:50%; background: #1e2126 !important}
.adventure-details-destinations{ margin: 0; opacity: 0; padding: 8px 0 9px; position: absolute; width: 110%; right: 0; transform: rotate(-90deg); transform-origin: top right; -moz-transform:rotate(-90deg); -moz-transform-origin: top right; -webkit-transform:rotate(-90deg); -webkit-transform-origin: top right; -o-transform:rotate(-90deg); -o-transform-origin: top right; -ms-transform:rotate(-90deg); -ms-transform-origin: top right;}
.adventure-details-main:hover .adventure-details-destinations{ opacity: 1;}
.adventure-details-main-bottom { position: relative;}
.adventure-details-main-bottom:hover .adventure-details { margin-right:50%; background: #1e2126  !important}
.adventure-details-main-bottom .adventure-details { -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 0; position: absolute; top: 50%; width: 50%; height: 101%; background: rgba(30,33,38,.9)}
.adventure-details-main-bottom:hover .adventure-details { margin-left:50%; background: #1e2126 !important}
.adventure-details-main-bottom .adventure-details-destinations{ margin: 0; opacity: 0; padding: 8px 0 9px; position: absolute; width: 110%; left: 0; transform: rotate(90deg); transform-origin: top left; -moz-transform:rotate(90deg); -moz-transform-origin: top left; -webkit-transform:rotate(90deg); -webkit-transform-origin: top left; -o-transform:rotate(90deg); -o-transform-origin: top left; -ms-transform:rotate(90deg); -ms-transform-origin: top left;}
.adventure-details-main-bottom:hover .adventure-details-destinations{ opacity: 1}
.travel-how-to-work {background: rgba(53,56,60,.7); padding: 20px 50px; display: inline-block}
.travel-special-off{ top: 0; right: 0; padding: 5px 15px; }
.hotel-review { padding: 12px 20px; right: 15px; top: 0; min-width: 150px; }
.hotel-review .fa {display: inline; padding-left: 4px;}
.itinerary p { float: left; margin-bottom: 25px; position: relative; padding-left: 90px;}
.itinerary p span { background-color: #000; color: #fff; font-size: 12px; font-weight: 600; margin: 7px 25px 0 0; padding: 2px 15px; text-transform: uppercase; position: absolute; left: 0; }

/* ===================================
    Spa demo
====================================== 

.hover-box:hover img { -ms-transform: scale(1.1,1.1); -webkit-transform: scale(1.1,1.1);  transform: scale(1.1,1.1); }
.hover-box:hover .opacity-light { background: #000 !important}
.hover-box-text { right: 0; padding: 45px 75px; bottom: 0}
.hover-box-text .title-medium:before {  background: #ff1a56; content: ""; height: 4px; left: 53px; position: absolute; top: 62px; width: 15px;}
.hover-box:hover .hover-box-text { -webkit-transform: translateX(-80px); -ms-transform: translateX(-80px); transform: translateX(-80px);}
.hover-box-more { padding: 21px 20px; width:80px; height:80px; bottom: 0; right: -80px; opacity: 0 }
.hover-box-more a { display: block; line-height: 20px;}
.hover-box:hover .hover-box-more { opacity: 1; -webkit-transform: translateX(-80px); -ms-transform: translateX(-80px); transform: translateX(-80px);}
.treatments-box{}
.treatments-box-img {min-height: 550px;}
.treatments-box-img img {width: 90%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); position: absolute; top: 50%;  }
.treatments-box-text { border: 8px solid #fff; min-height: 550px;}
.treatments-box-text-sub { -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); position: absolute; top: 50%; left:0; right: 0}
.treatments-box-text-sub img {width: 84%; top: 5px}
.treatments-box-number { font-size: 100px; bottom: -60px;}
.packages-main {}
.packages-img { min-height: 550px}
.packages-text { min-height: 550px}
.packages-details { min-height: 550px}
.packages-list li { padding: 14px 0}

/* ===================================
    Photography demo
====================================== 

.photography-about { min-height: 830px}
.photography-quotes:before { content: "“"; color: #85eea5; font-size: 200px; position: absolute; }
.arrow-link {padding: 0 15px 0 0; z-index: 1}
.arrow-link:before{ background: url('../images/arrow.png') right 7px no-repeat; content: "arrow"; text-indent: -9999px; width: 100%; position: absolute; z-index: -1}
.arrow-link:hover {padding: 0 30px 0 0; z-index: 1;}
#people .scroll-down, #nature .scroll-down, #wildlife .scroll-down, #food .scroll-down { bottom: 60px}
.photography-services { min-height: 560px; background:#eeeeee}
.photography-services {min-height: 560px}
.photography-services-sub { margin-top: -50px}
.hover-box-image:hover h3 { top:70%; color: rgba(0,0,0,1) !important; letter-spacing: 10px !important; font-size: 27px}
.hover-box-image imh {z-index: -2}
.hover-box-image .grid-style1-border {opacity: 0;}
.hover-box-image:hover .grid-style1-border {opacity: 1; }
.hover-box-image-link {opacity: 0; left: 0; right: 0; bottom: 60px; }
.hover-box-image:hover  .hover-box-image-link {opacity: 1; -webkit-transform: translateY(-40px); -ms-transform: translateY(-40px); transform: translateY(-40px);}
.line-link {padding: 0 10px; z-index: 1}
.line-link:before{ background: url('../images/link-line.png') center 12px no-repeat; content: "arrow"; text-indent: -9999px; width: 100%; position: absolute; z-index: -1; left: 0}
.line-link:hover {padding: 0 25px; z-index: 1;}
.hover-box-image:hover .line-link { letter-spacing: 3px}
.photography-awards {min-height: 830px}
.awards-year:before {    border-bottom: 1px solid rgba(0,255,151,1); content: ""; height: 2px; left: 0; position: absolute; top: 12px; width: 76%; }



/* ===================================
    Blog listing
====================================== */

/* page title */
.page-title { min-height: 450px; padding: 210px 0 0; overflow: hidden; }
.page-title h2 {font-size: 50px;}

/* blog listing */
.blog-listing .post-date {width: 110px; height: 110px; line-height: 28px; background-color: #373737; margin-top: 50px; color: #fdd947; font-size: 14px; padding: 30px 0 !important}
.blog-listing .post-date span {font-size: 35px; display: block; font-weight: 600}
.blog-sharing i { margin: 0 10px;}
.blog-sharing a i { color: #818181}
.blog-sharing a:hover i { color: #a0a0a0}
.blog-listing-link a:after{content: "/";  padding: 0 10px; }
.blog-listing-link a:last-of-type:after{content: "";}
.blog-search-btn{color: #949494; border: none; border-bottom: 1px solid #e5e5e5; padding-left: 0}
.blog-search-btn:focus{border: none; border-bottom: 1px solid #000;}
.widget{margin-bottom: 65px;}
.widget .close-search{ cursor: pointer; position: absolute; right: 19px; top: 12px; z-index: 998;}
.widget .close-search:hover {color: #000}
.pagination{margin:30px 0;}
.pagination a{font-weight:bold; display: inline-block; vertical-align: middle; color: #aaaaaa}
.pagination a:hover {color: #fdd947}
.pagination a:after {content: "/"; position: relative; padding: 5px 15px; color: #545454}
.pagination a:first-child:after, .pagination a:last-child:after,.pagination a:nth-child(6):after {content: ""}
.pagination a.active {color: #fdd947 }
.blog-image blockquote{border-left: 0 none; margin-bottom: 30px;; padding: 50px;}
.blog-image blockquote p::before{ color: #000; content: ""; font-family: "FontAwesome"; font-size: 50px; margin-right: 10px;}
.fluid-width-video-wrapper{position: relative;}
.fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed{height: 100%; position: absolute; top: 0; width: 100%; left: 0;}

/* blog details */
.blog-comment{margin: 30px 0;}
.blog-comment .comment-avtar{ float: left; margin-right: 35px; margin-top: 10px; max-width: 100px;}
.blog-comment-main .comment-text .blog-comment-name:after{content: "/"; padding: 0 10px;}
.blog-comment > .blog-comment{margin-left: 40px;}
.blog-post-title:after{border-bottom: 4px solid #fdd947; content: ""; left: 0; padding: 10px; position: absolute; right: 0; top: 30px; width: 30px;}
.blog-comment-form textarea {min-height: 100px !important;}

/* categories */
.category-list li {border-bottom: 1px solid #e5e5e5; padding: 0 0 12px; margin-bottom: 10px;}
.category-list li a {font-family: "Montserrat",sans-serif; font-weight: 600; letter-spacing: 1px; display: inline-block; font-size: 11px; line-height: 20px; text-transform: uppercase}
.category-list li:last-child {border-bottom: 0; margin: 0; padding: 0;}

/* popular posts */
.widget-posts li { border-bottom: 1px solid #e5e5e5; padding: 0 0 8px; margin: 0 0 8px; color: #ababab}
.widget-posts li a {display: table; font-family: "Montserrat",sans-serif;}
.widget-posts li:last-child {margin: 0; padding: 0; border-bottom: 0;}

/* tags */
.tags a{padding: 2px 10px; display: inline-block; color: #373737; font-family: "Montserrat",sans-serif; margin: 0 8px 10px 0; background-color: #f6f6f6; text-transform: uppercase; font-size: 11px; line-height: 20px;}
.tags a:hover{background-color: #000; color: #fff !important;} 

/* breadcrumb */
.breadcrumb {padding: 10px 0 7px; border-bottom: 1px solid #e5e5e5; background-color: inherit}
.breadcrumb ul li {text-transform: uppercase; float: left;font-size: 11px;} 
.breadcrumb ul li::after { color: #898989; content: "|"; font-size: 11px;  padding: 0 12px;  position: relative;  top: -1px;}
.breadcrumb ul li:last-child:after { display: none;}


